


h1 {
    text-align: center;
    background-color:darkgoldenrod;
}

.textoUno {
    text-align: justify;
    font-size: large;
    color: aliceblue;
}

h2 {
    text-align: center;
    background-color: darkgoldenrod;
}

.textoVinos {
    text-align: justify;
    font-size: large;
    color: aliceblue;
}

.img {
    text-align: center;
}

.piePagina {
    background-color:rgb(95, 10, 10);
    text-align: center;
    color:  rgb(245, 245, 240);
}

.img {
    text-align: center;
}

h3 {
    
    background-color: darkgoldenrod;
}


.galeria {
    background-color: darkgoldenrod;
    text-align: center;
    border: darkgoldenrod;
   
}




body {
    background-color:black;
}